.cls_patient_list_cont {
    width: 80%;
    margin: 10% auto 0px auto;

}

.cls_patient_list_cont .cls_Header
{
    margin-bottom: 0px;
    background: #009688;
    color: #fff;
    overflow: hidden;
}
.personCont i.fa.fa-user-circle {
    font-size: 100px;
    color: #8e8e8e;
    margin: 15px 0px;
}
.cls_pointIcon i
{
    color: #fff;
    background-color: #2196f3;
    padding: 5px 10px;
    float: right;
    margin: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.cls_patientList {
    display: inline-block;
    width: 33.3%;
    text-align: left;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
.cls_content {
    width: 100%;
    display: inline-block;
}
.cls_DescCont {
    color: #7d8b97;
}

.cls_DescValue {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.cls_DescValue i {
    padding:0px 5px 0px 0px;
    color: #2e4459; 
}

.cls_DescValue i.fa.fa-male {
    padding-left: 5px;
}
.cls_DescValue.cls_contact span:first-child {
    padding: 11px 5px;
    border-right: 1px solid #ccc;
    margin-right: 5px;
}
.cls_PersonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.personCont .cls_DescValue {
    text-align: center;
    text-transform: capitalize;
    border: 0px;
}
.cls_textCont
{
    float: left;
    padding-left: 10px;
}
.cls_patient_list_cont .cls_textCont {
    padding-top: 10px;
}
@media screen and (min-width: 0px) and (max-width: 767px){
    .cls_patientList {
        width: 100%;
    }
}